@charset "utf-8";

/*第五层 (空气能热水器)*/

@import "wrapper";
.floor_5_show {
    @include mx_piclist(180px, 200px, 248px, 0px);
    height: 248px;
    ul {
        li {
            &:first-child {
                border: none;
            }
            a {
                position: relative;
                img {
                    transform: translateX(-10px);
                }
                span {
                    position: absolute;
                    bottom: 8px;
                    left: 25%;
                }
            }
        }
    }
}