@charset "utf-8";

/*第三层 (生活电器)*/

//20+162+20+10=212
.floor_3 {
    height: 1204px;
}

@import "wrapper";
.floor_3_show {
    @include mx_piclist(180px, 200px, 248px, 0px);
    height: 992px;
    ul {
        li {
            &:first-child {
                border: none;
            }
            a {
                position: relative;
                img {
                    transform: translateX(-10px);
                }
                span {
                    position: absolute;
                    bottom: 8px;
                    left: 25%;
                }
            }
        }
    }
}