@charset "utf-8";
//

/* 猜你喜欢下面区域 */

.floor_8 {
    margin-bottom: 20px;
}

@mixin mx_floor_8($width, $height) {
    //第一个li宽，宽，高，padding
    width: 980px;
    margin-top: 10px;
    height: ($height + 6) * 6;
    background: #abcdef;
    ul {
        overflow: hidden;
        border-left: 1px solid #ddd;
        background: #fff;
        width: 980px;
        li {
            float: left;
            display: block;
            border: 1px solid #ddd;
            border-left: 0;
            text-align: center;
            font: 700 18px/24px Verdana, Arial;
            width: $width - 1;
            height: $height + 6;
            a {
                width: 100%;
                height: 100%;
                display: block;
                text-align: center;
                padding: 12px;
                img {
                    width: 160px;
                    height: 160px;
                }
                &>span {
                    display: inline-block;
                    width: 220px;
                }
                .span_title {
                    height: 44px;
                    margin-top: 10px;
                    color: #666;
                    font: 12px Arial, Verdana, "微软雅黑";
                    font-size: 14px;
                    line-height: 22px;
                    overflow: hidden;
                    word-break: break-all;
                    word-wrap: break-word;
                    &:hover {
                        color: #c00;
                    }
                }
                .span_price {
                    margin-top: 5px;
                    color: #c00;
                }
            }
            &:last-child {
                a {
                    width: $width - 1;
                }
            }
        }
    }
}

.floor_8_list {
    @include mx_floor_8(245px, 269px);
}