@charset "utf-8";
//wrapper公用部分
//模块、变量
$wd:980px;
$ht:54px;
//标签
.wrapper {
    width: $wd;
    margin: 0 auto;
}

.ad {
    margin-top: 20px;
    height: 162px;
}

.title {
    width: $wd;
    height: 24px;
    margin-top: 20px;
    margin-bottom: 10px;
    font: 500 14px/24px 微软雅黑;
    .title_left {
        width: 120px;
        float: left;
        padding-left: 14px;
        border-left: 4px solid red;
    }
    .title_right {
        width: 300px;
        float: right;
        padding-right: 10px;
        text-align: right;
        span {
            margin: 0 8px;
            font-size: 12px;
        }
    }
    a {
        color: #666;
    }
}

@mixin mx_piclist($picfirst, $picwd, $picht, $picpadding) {
    //第一个li宽，宽，高，padding
    width: 980px;
    height: $picht;
    margin-top: 10px;
    ul {
        overflow: hidden;
        border-left: 1px solid #ddd;
        background: #fff;
        width: 980px;
        li {
            float: left;
            display: block;
            border: 1px solid #ddd;
            border-left: 0;
            text-align: center;
            height: $picht;
            font: 700 18px/24px Verdana, Arial;
            a {
                display: block;
                width: $picwd - 1;
                height: $picht;
                padding: $picpadding;
                color: #c00;
                overflow: hidden;
            }
            &:last-child {
                a {
                    width: $picwd - 2;
                }
            }
            &:first-child {
                a {
                    width: $picfirst - 1;
                }
            }
        }
    }
}