@charset "utf-8";
body {
    font: 12px Arial, Verdana, "微软雅黑";
}

a {
    color: #666;
    text-decoration: none;
}

em {
    font-style: normal;
}

.header {
    .topbar {
        .topbarbox_left {
            a:nth-child(2) {
                display: none;
            }
        }
    }
}

@mixin mx_li() {
    li {
        float: left;
        line-height: 40px;
        text-align: center;
    }
    .cart_allsel {
        min-height: 1px;
        width: 30px;
        text-align: left;
        padding-left: 20px;
        .allsel {
            width: 80px;
            position: absolute;
            input {
                margin-top: 14px;
                margin-right: 5px;
                float: left;
            }
        }
    }
    .cart_goods {
        width: 340px;
        #pic {
            width: 62px;
            height: 62px;
            border: 1px solid #ddd;
            margin-right: 10px;
            display: block;
            float: left;
            img {
                width: 60px;
                height: 60px;
            }
        }
        #title {
            display: block;
            overflow: hidden;
            width: 260px;
            word-break: break-all;
            word-wrap: break-word;
            line-height: 22px;
            padding: 8px 0;
            text-align: left;
            float: left;
        }
    }
    .cart_price {
        width: 110px;
    }
    .cart_youhui {
        width: 80px;
    }
    .cart_city {
        width: 80px;
        .city {
            background-color: #fff;
            border: 1px solid #c9c9c9;
            cursor: pointer;
            float: left;
            height: 24px;
            line-height: 24px;
            padding: 0 10px 0 5px;
            position: relative;
            margin-top: 8px;
            width: 80px;
            margin-left: 8px;
            a {
                background: url(../images/bg.png) no-repeat scroll 0 -17px;
                cursor: pointer;
                display: inline-block;
                height: 6px;
                width: 9px;
                position: absolute;
                top: 9px;
                right: 5px;
            }
        }
    }
    .cart_quantity {
        width: 100px;
        .goodsnum {
            margin-top: 7px;
            text-align: center;
            margin-left: 8px;
            span {
                border: 1px solid #c9c9c9;
                width: 22px;
                height: 22px;
                line-height: 22px;
                text-align: center;
                font-family: icon;
                cursor: pointer;
                display: inline-block;
                background: #ededed;
                font-size: 16px;
                float: left;
                border-right: 0;
                user-select: none;
                &:active {
                    transform: scale(1.1);
                }
            }
            input {
                width: 25px;
                line-height: 22px;
                border: 1px solid #c9c9c9;
                text-align: center;
                float: left;
                padding: 0;
                height: 22px;
            }
            .increase {
                border-right: 1px solid #c9c9c9;
                border-left: 0;
            }
        }
    }
    .cart_subtotal {
        width: 118px;
    }
    .cart_operation {
        width: 100px;
        .delbox {
            margin-top: 10px;
            a {
                padding-right: 10px;
                &:hover {
                    text-decoration: underline;
                    color: #c00;
                }
            }
        }
    }
}

$wd:980px;
.logo {
    width: $wd;
    margin: 0 auto;
    margin-top: 10px;
    height: 54px;
}

.logopic {
    width: 300px;
    float: left;
    margin-top: 16px;
}

.cartstep {
    background: url(../images/cartbg.png) no-repeat 0 0;
    width: 571px;
    height: 23px;
    float: right;
    text-indent: -9999px;
    margin-top: 20px;
}

.wrapper {
    width: $wd;
    margin: 0 auto;
    margin-top: 20px;
    font: 12px Arial, Verdana, "微软雅黑"
}

.empty {
    display: none;
    background: url(../images/cartempty.png) 240px 58px no-repeat;
    padding: 88px 0 100px 356px;
    h2 {
        font-weight: normal;
        a {
            color: #c00;
        }
    }
}

.caption {
    width: $wd;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    margin-bottom: 10px;
    ol {
        width: $wd;
        height: 42px;
        @include mx_li();
    }
}

.cart_list {
    ul {
        width: $wd;
        background: #fffdee;
        padding: 10px 0;
        border: 1px solid #ddd;
        margin-bottom: 10px;
        overflow: hidden;
        @include mx_li();
        .cart_allsel {
            width: 50px;
        }
        .cart_subtotal {
            color: #c00;
            font-weight: 800;
            font-family: Verdana, Geneva, sans-serif;
        }
        .cart_price {
            font-weight: 800;
            font-family: Verdana, Geneva, sans-serif;
        }
    }
    .modleul {
        display: none;
    }
}

.cart_tips {
    margin-top: 10px;
    overflow: hidden;
    ul {
        overflow: hidden;
        background: #e5e5e5;
        li {
            float: left;
            line-height: 50px;
            a {
                padding-left: 10px;
                margin-right: 20px;
                color: #c00;
                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .tipsinfo {
            span {
                font-size: 18px;
                font-weight: 700;
                color: #c00;
                line-height: 50px;
                padding: 0 5px;
            }
            &>div {
                display: inline;
            }
            .f2 {
                margin-left: 20px;
                margin-right: 30px;
                span {
                    padding: 0 5px;
                }
            }
            .f3 {
                strong {
                    color: #c00;
                    font-family: Arial, Helvetica, sans-serif;
                    font-size: 14px;
                    font-weight: 400;
                    line-height: 48px;
                    vertical-align: middle;
                }
                span {
                    font-size: 22px;
                    font-weight: 700;
                    padding: 0 3px;
                    float: right;
                }
            }
        }
    }
}

.cart_account {
    overflow: hidden;
    margin-bottom: 20px;
    a {
        background: #ffe4d0;
        color: #c00;
        cursor: pointer;
        display: block;
        float: left;
        font: 700 18px/40px '微软雅黑';
        margin-top: 25px;
        opacity: .8;
        padding: 0 30px;
        text-align: center;
        &:nth-child(2) {
            background: #c00;
            color: #fff;
            float: right;
        }
        &:hover {
            opacity: 1;
        }
        &:active {
            transform: scale(1.1);
        }
    }
}